/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color1:  #b58900;
  --color2:  #cb4b16;
  --color3:  #dc322f;
  --color4:  #d33682;
  --color5:  #6c71c4;
  --color6:  #268bd2;
  --color7:  #2aa198;
  --color8:  #859900;
  --link:    #268bd2;
  --info:    #268bd2;
  --success: #2aa198;
  --alert: #b58900;
  --error:   #cb4b16;
}

.light {
  --base03:  #002b36;
  --base02:  #073643;
  --base01:  #586e75;
  --base00:  #657b83;
  --base0:   #839496;
  --base1:   #93a1a1;
  --base2:   #eee8d5;
  --base3:   #fdf6e3;
}

.dark {
  --base03:  #fdf6e3;
  --base02:  #eee8d5;
  --base01:  #93a1a1;
  --base00:  #839496;
  --base0:   #657b83;
  --base1:   #586e75;
  --base2:   #073642;
  --base3:   #002b36;
}

html * {
  color-profile: sRGB;
  rendering-intent: auto;
  box-sizing: border-box;
}

body {
  background-color: var(--base3);
  color: var(--base00);
  font-family: 'Roboto';
  transition: color 0.3s ease, background-color 0.3s ease;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--base01);
  border-color: var(--base00);
  margin: 0;
  transition: color 0.3s ease;
}

h1 {
  font-size: 2.8125rem;
}

h2 {
  font-size: 2.1875rem;
}

h1, h2 {
  font-weight: 100;
}

h3 {
  font-size: 1.5625rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.0625rem;
}

h3, h4 {
  font-weight: 300;
}

h5 {
  font-weight: 400;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
}

a, a:active, a:visited {
  color: var(--base01);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link);
}

p {
  width: 100%;
  font-size: 1.0625rem;
  line-height: 1.8125rem;
  margin-bottom: 1.875rem;
  margin: 1rem 0;
}

pre {
  width: 100%;
  font-size: 1.0625rem;
}

code {
  font-family: 'Roboto Mono';
}

svg.icon {
  height: 2.25rem;
  width: 2.25rem;
  color: inherit;
  fill: currentColor;
}

/* Temporary Utility Classes */
.mb {
  margin-bottom: 1rem;
}

.flex {
  display: flex;

  &.wrap {
    flex-wrap: wrap;
  }

  &.gap {
    gap: 1rem;
  }
}
