#flash {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;

  .message {
    padding: 1rem;
    background: var(--base2);
    color: var(--base02);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    transition: opacity 0.3s ease, height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, margin-bottom 0.3s ease;
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 0 3px;

    &.notice {
      border-color: var(--info);
      color: var(--info);
    }

    &.success {
      border-color: var(--success);
      color: var(--success);
    }

    &.alert {
      border-color: var(--alert);
      color: var(--alert);
    }

    &.error {
      border-color: var(--error);
      color: var(--error);l
    }

    &.dismissing {
      opacity: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: -0.5rem;
    }
  }
}
