.layout {
  > header {
    padding: 1rem 1rem;

    > nav {
      width: 100%;
      height: 2.25rem;
      margin-top: 0.25rem;
      display: flex;
      justify-content: flex-end;
    }

    .tag-filter {
      display: flex;
      flex-direction: column-reverse;
      overflow: hidden;

      a {
        display: block;
        padding: 0.25rem 0;
        line-height: 1;
        height: 1.5rem;
        transition: height 0.3s ease, padding 0.3s ease;
        overflow: hidden;
        flex-shrink: 0;
      }
    }
  }

  > main {
    flex-basis: 100%;
    max-width: 100vw;

    .scroll {
      padding: 1rem 1rem;

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;

        > div {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 64em) {
  .layout > header {
    position: relative;
    overflow: hidden;

    .toggle {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      width: 4.25rem;
      height: 4.25rem;
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(135deg);

        & ~ nav {
          height: 2.25rem;
          margin-top: 0.25rem;
          margin-bottom: 1rem;
        }
        & ~ .tag-filter a {
          height: 1.5rem;
          padding: 0.25rem 0;
        }
      }
    }

    h1 {
      width: calc(100% - 2.5rem);
    }

    > nav {
      height: 0;
      transition: height 0.3s ease, margin 0.3s ease;
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 0;

    }

    .tag-filter {
      text-align: right;

      a {
        height: 0;
        padding: 0;
      }
    }
  }
}

@media only screen and (min-width: 64em) {
  .layout {
    display: flex;
    height: 100vh;

    > header {
      display: flex;
      align-items: center;
      flex: 0 0 33.33333vw;
      order: 2;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      & + main {
        justify-content: flex-end;
      }

      .toggle {
        display: none;
        order: 5;
      }

      .tag-filter {
        order: 1;
        margin-bottom: 1rem;
        margin-top: -1rem;
      }

      h1 { order: 2; }

      h5 { order: 3; }

      > nav {
        order: 4;

        .auth, .user, .veneer, .new {
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &:hover {
          .auth, .user, .veneer, .new {
            opacity: 1;
          }
        }
      }
    }

    > main {
      order: 1;
      height: 100vh;
      display: flex;
      justify-content: center;
      overflow: hidden;

      .scroll {
        padding: 3rem 1rem;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar, &::-webkit-scrollbar-button {
          width: 0.3125rem;
          height: 0.3125rem;
        }

        &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--base2);
        }

        .content {
          width: 38.25rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 120.75em) {
  .layout {
    > header {
      flex: 0 0 calc((100% - 40.25rem) / 2);
    }
  }
}

@supports not selector(::-webkit-scrollbar) {
  .layout > main .scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--base2) transparent;
  }
}
